@model IEnumerable<Plymouth_Pub.Models.OrderDetail>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@String.Format("Order Number: {0}", this.Model.First().Id)</h2>
<hr />
@Html.ActionLink("Back to product list", "Index", new { }, new { @class = "btn btn-default" })
<table class="table">
    <tr>
        <th>Item name</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Back to Product List", "Index", new { }, new { @class = "btn btn-default" })

